/*

###############################################
#  main CSS is copyrigted by Linuxy of 2019  #
###############################################




##
# - Google Fonts and other imports -
##
*/
/* Google Font - Montserrat  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,600&display=swap');

/*

##
# - Dev and header Classes and others -
##

*/

body {
  background: url("/assist/assists/bg-header.jpg") rgba(255, 255, 255, 0.33) repeat cover;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*

##
# - Menu -
##

*/
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
