/*

###############################################
#  main CSS is copyrigted by Linuxy of 2019  #
###############################################




##
# - Google Fonts and other imports -
##
*/
/* Google Font - Montserrat  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,600&display=swap');

/*

##
# - Dev and header Classes and others -
##

*/

body {
  /* TODO: background:  rgba(255, 255, 255, 0.33) repeat cover;*/
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/*

##
# - Menu -
##

*/
.vertical-menu {
  width: 190px;
  position: fixed;
  z-index: 0;
  top: 100px;
  left: 5px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.vertical-menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #397efe;
  color: white;
}

/*

##
# - body content -
##

*/

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.content-plane {
  margin-left: 250px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}

@media screen and (max-height: 450px) {
  .content-plane {padding-top: 15px;}
  .content-plane a {font-size: 18px;}
}
