/*

###############################################
#  main CSS is copyrigted by Linuxy of 2019  #
###############################################




##
# - Google Fonts and other imports -
##
*/
/* Google Font - Montserrat  */
/*

##
# - Dev and header Classes and others -
##

*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,200i,400,600&display=swap');

html {
  /* TODO: background:  rgba(255, 255, 255, 0.33) repeat cover;*/
  font-weight: 200;
  width: 100%;
}

content.h1 {
  font-weight: 200;
  font-family: "Montserrat";
  text-align: center;
}

.topmenu:a {
  color: #fff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

/*

##
# - Menu -
##

*/
/* Add a black background color to the top navigation */
header {
  margin-bottom: 300px;
}

.topmenu {
  overflow: hidden;
  text-align: center;
  z-index: 38;
  padding: 30px;
  margin-bottom: 100px;
}

/* Style the links inside the navigation bar */
.topmenu a {
  float: center center;
  color: #4d4e4f;
  text-align: center center;
  padding: 20px 16px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topmenu a:hover {
  color: #4d4e4f;
}

/* Add a color to the active/current link */
.topmenu a.active {
  color: rgb(5, 58, 250);
}

/* Right-aligned section inside the top navigation */
.topmenu-right {
  float: right;
}

/*
  padding: 20px 16px;
##
# - body content -
##

*/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.content-plane {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
}

.rev_slider_wrapper {
  height: 100%;
  width: auto;
  position: relative;
  overflow: hidden;
  background: #120103;
  color: #fff;
  text-align: center;
}

@media (max-width: 480px) {}
