.sect-banner{
 display: table;
 width: 100%;
 margin: 0 auto;
 text-align: center;

 /*-- Full Height --*/
 height: 100vh;
 color:	rgba(255,255,255,0.9);

 /*-- Create an Overlay --*/
 &:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(118, 144, 164, 0.4);
  z-index: 0;
 }

 /*-- Vertically center --*/
 .v-center{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  padding: 0 5%;
 }

}

@include keyframes(fade-out) {
 33%{
  opacity: 1
 }
 66%{
 opacity: 0
 }
}

ul.kf-slider{
 li{
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:	50%;
  z-index: 1;
  opacity: 0;
  /*-- Add animation --*/
  @include animation(fade-out 9s infinite both);
  /*-- Image 1: small --*/
  background-image: url(/assist/assists/bg-header.jpg);
  @media (min-width: 32ems){
   /*-- Image 1: large --*/
   background-image: url(/assist/assists/bg-header.jpg);
  }
 }
 /*-- Image 2 --*/
 li:nth-child(2){
  background-image: url(/assist/assists/bg-header.jpg);
  /*-- Animation delay: 3s --*/
  @include animation-delay(3s);
  @media (min-width: 32ems){
   background-image: url(/assist/assists/bg-header.jpg);
  }
 }
 /*-- Image 3 --*/
 li:nth-child(3){
  background-image: url(/assist/assists/bg-header.jpg);
  /* Animation delay: 6s */
  @include animation-delay(6s);
  @media (min-width: 32ems){
   background-image: url(/assist/assists/bg-header.jpg);
  }
 }
}
